<?xml version="1.0" encoding="utf-8" ?>
<!-- Esta copia se hizo porque el proyecto sera guardado en GIT para portafolio,
 no tiene el nombre del servidor porque es posible luego otros tengan acceso a mi red local
 el original sera enviado a .gitignore -->
<configuration>
	<connectionStrings>
		<add name="Colegio" connectionString="server = INSERT;
			 Database = Evaluations_Database; Integrated Security = true"
			 providerName = "System.Data.SqlClient" />
	</connectionStrings>
</configuration>